<ion-header>
  <ion-toolbar>
    <ion-title>Order Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Order Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://www.lami.co.in/images/order.gif" alt="Success"
        style="width: 300px; margin-bottom: 20px;" />
      <ion-button expand="full" (click)="goHome()">Go to Home</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>